.to{
    background-color: rgb(188, 129, 244);
    width: 400px;
    height: 325px;
    margin-left: 450px;
    margin-top: 20px;
}
.do{
    background-color: rgb(62, 62, 88);
    width: 300px;
    height: 275px;
    margin-left: 50px;
    position: relative;
    top: 20px;
    color: aliceblue;
}
.es{
    border: 1px solid rgb(20, 59, 37);
    width: 60px;
    background-color: rgb(20, 59, 37);
    position: relative;
    bottom: 5px;
    left: 10px;
}
input{
     width: 20px;
     height: 20px;
     position: relative;
     margin-left: 20px;
}
.qw{
    margin-left: 20px;
    
}